/* header logo menu */
.wrapper {
    width: 100%;
    height: 2000px;
    background-color: royalblue;    
}

.header {
    height: 86px;
    width: 100%;
    background-color: rgba(199, 177, 177, 0.95);
    display: flex;
    align-items: center;
}