/* header logo menu */

.wrapper { 
    position: relative;
    overflow: hidden;
}

.header {
    height: 86px;
    width: 100%;
    min-width: 900px;
    background-color: rgba(256, 256, 256, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
}

.logo {
    margin-left: 110px;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.ze {
    color: #626262;
}

.bra {
    color: #06B5A9;
}

.nav {
    height: 100%;

}

.menu__list {
    height: 86px;
    align-items: center;
    display: flex;
    margin-right: 100px;
    justify-content: center;
}

.menu__list li {
    color: #626262;
}

.menu {
    height: 100%;
    padding: 34px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.hovermenu {
    height: 300px;
    background-color: #CF1A2B;
    position: absolute;
    display: none;
}

.menu__list a li:hover { 
    background-color: #CF1A2B;
    color: white;
    border-bottom: 1px solid rgba(256, 256, 256, 0.3);
}

.menu__list a:hover .hovermenu { 
    display: block;
}

.hovermenu__list__firstblock,
.hovermenu__list__secondblock,
.hovermenu__list__thirdblock {
    height: 100%;
    width: 204px;
    display: inline-block;
    border-right: 1px solid rgba(256, 256, 256, 0.3);
}

.hovermenu__logo {
    height: 70px;
    display: block;
    border-bottom: 1px solid rgba(256, 256, 256, 0.3);
}

.hovermenu__img {
    height: 230px;
    display: block;
}


/* scroll block */
.scroll {
    height: 655px;
    background-image: url('../img/zebrabg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll__conteiner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.scroll__conteiner img {
    margin: 40px;
}

.scroll__conteiner span {
    color: #fff;
    font-size: 22px;
    font-family: monospace;
    letter-spacing: 20px;
    padding-left: 50px;
}

.scroll__conteiner h1 {
    color: #fff;
    font-size: 116px;
    font-family: fantasy;
}

/* sales block */
.price {
    height: 100%;
    width: 120px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopicon {
    margin-bottom: 6px;
}

.menuicon {
    margin-top: 6px;
}

.price a {
    color: #626262;
}

.sales {
    height: 337px;
    background: #fff;
}

.sales__blocks {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sales__blocks img {
    padding: 30px;
}

/* categories block */

.categories {
    height: 600px;
    background-image: url('../img/zebrabg2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.categories__container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.categories__text {
    font-size: 116px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 60px;
}

.categories__list span {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #58DBD3;
    display: inline-block;
    position: absolute;
}

.circle__button__hollow1 {
    opacity: 0.5;  
    left: -105px;
    bottom: 120px;
}

.circle__button1 {
    opacity: 0.5;
    padding: 65px 50px 50px 50px;
    bottom: 162px;
    left: 56px;
}

.circle__button2 {
    opacity: 0.8;
    left: 225px;
    bottom: 100px;
    padding: 48px 65px 53px 41px;
}

.circle__button3 {
    opacity: 0.5;
    padding: 43px 40px 35px 67px;
    right: 50px;
    left: 390px;
    bottom: 155px;
}

.circle__button4 {
    opacity: 0.8;
    left: 560px;
    bottom: 115px;
    padding: 70px 50px 50px 55px;
}

.circle__button5 {
    opacity: 0.5;
    padding: 65px 50px 50px 50px;
    right: 347px;
    bottom: 84px;
}

.circle__button6 {
    opacity: 0.8;
    padding: 48px 65px 53px 41px;
    right: 200px;
    bottom: 145px;
}

.circle__button7 {
    opacity: 0.5;
    padding: 55px;
    right: 50px;
    bottom: 65px;
}

.circle__button__hollow2 {
    opacity: 0.8;
    right: -60px;
    bottom: 185px;
}

.categories__list span:hover {
    opacity: 1;
}

/* levis block */

.levis {
    height: 820px;
    padding: 30px 70px;
}

.levis__block {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.levis__logo {
    position: absolute;
    top: -47px;
    left: 120px;
}

.clothes__text {
    padding-top: 150px;
    padding-left: 150px;
}

.mens__text__logo {
    font-size: 50px;
    font-weight: 600;
}

.mens__text__text {
    font-size: 14px;
    color: #1D1D1D;
    margin-top: 15px;
}

.rate__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    margin-top: 30px
}

.rate {
    font-size: 36px;
}

.rate span {
    font-weight: 600;
}

.levis__button {
    height: 50px;
    width: 215px;
    background-color: #CF1A2B;
    box-shadow: 0px 0px 3px black;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.addtocart__text {
    padding-left: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.clothes__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.clothes__list__subtitle {
    padding: 10px 0 0 40px;
}

.clothes__list__item img {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* footer block */

.footer {
    height: 105px;
    background-color: #1B2330;
}

.footer__line {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding: 24px 60px 0 15px;
}

.footer__icons {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.copyright {
    font-size: 14px;
    color: rgba(256, 256, 256, 0.5);
}

