/* header logo menu */

.wrapper { 
    height: 992px;
    position: relative;
    background-image: url('../img/zebrabg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 86px;
    width: 100%;
    min-width: 900px;
    background-color: rgba(256, 256, 256, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-left: 110px;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.ze {
    color: #626262;
}

.bra {
    color: #06B5A9;
}
.menu a {
    color: #626262;
}

.menu__list {
    height: 86px;
    align-items: center;
    display: flex;
    margin-right: 100px;
    justify-content: center;
}

.menu {
    height: 100%;
    padding: 35px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.menu__list li:hover { 
    background-color: #CF1A2B;
}

.menu__list li a:hover {
    color: white;
}


.price {
    height: 100%;
    width: 120px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopicon {
    margin-bottom: 6px;
}

.menuicon {
    margin-top: 6px;
}

.price a {
    color: #626262;
}

.scroll {
    height: 570px;
}

.sales {
    height: 337px;
    background: #fff;
}

.sales__blocks {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sales__blocks img {
    padding: 30px;
}

/* categories block */

.categories {
    height: 600px;
    background-image: url('../img/zebrabg2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* levis block */

.levis {
    height: 820px;
}

/* footer block */

.footer {
    height: 105px;
    background-color: #1B2330;
}